@import "~normalize.css/normalize.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#root,
.wrapper {
    display: block;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    font-family: "Cerebri Sans", Avenir, Helvetica, Segoe UI, sans-serif;
    -webkit-font-smoothing: antialiased;
}

